<div class="main_lobby menu_content no-click-effect" ng-click="closeAllTab()">
  <div class="user_profile ">
    <div class="profile_pic ">
      <div class="profile_pic_overlay" ng-click="openMenu($event)">
        <img ng-src="{{image | serverimage}}">
      </div>

    </div>
    <div class="profile_info">
      <div class="name">{{username}}</div>
      <div class="player_badge"> {{userType}} </div>
      <div class="amt">
        <img src="img/lobby/yellow_coin.png"> {{balance|number:0}}</div>
    </div>
  </div>

  <div class="lobby_content" ng-class="{'variation_active':VariationActive || VariationTab}">
    <div class="logo">
      <img src="img/logo.png">
    </div>
    <div class="categorys">
      <ion-scroll direction="x">
        <div class="row">
          <div class="variation box-black" ng-click="variationToggle($event,normalGameType)" ng-hide="VariationTab">
            TeenPatti
          </div>
          <div class="variation box-black" ng-click="variationGame($event,filterGameType)" ng-hide="VariationActive">
            TeenPatti Variation
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="categorys variation_subtype">
      <ion-scroll direction="x">
        <div class="row text-center" ng-if="VariationTab" ng-click="$event.stopPropagation">
          <!-- <div class=" box-black col" ng-class="{'ma-center': gameType=='2 Cards'}" ng-click="variationToggle($event,'2 Cards')" ng-hide="gameType && gameType!='2 Cards'">
            <span class="text-grad"> 2 card </span>
          </div>
          <div class="box-black col" ng-class="{'ma-center': gameType=='4 Cards'}" ng-click="variationToggle($event,'4 Cards')" ng-hide="gameType && gameType!='4 Cards'">
            <span class="text-grad"> 4 card </span>
          </div>
          <div class="box-black col" ng-class="{'ma-center': gameType=='Joker'}" ng-click="variationToggle($event,'Joker')" ng-hide="gameType && gameType!='Joker'">
            <span class="text-grad"> Joker </span>
          </div>
          <div class="box-black col" ng-class="{'ma-center': gameType=='Muflis'}" ng-click="variationToggle($event,'Muflis')" ng-hide="gameType && gameType!='Muflis'">
            <span class="text-grad"> Muflis </span>
          </div> -->

          <div class=" box-black col" ng-click="playNow($event);resetFilter();">
            <span class="text-grad"> Public Table </span>
          </div>
          <div class="box-black col" ng-click=" privateTableFilterModal($event);privateResetFilter();">
            <span class="text-grad"> Private Table </span>
          </div>
          <div class="box-black col" ng-click="myPrivateTable();openMyPrivateTable($event);">
            <span class="text-grad"> My Private Table </span>
          </div>
          <div class="box-black col" ng-click="createPrivateModal($event,gameType);">
            <span class="text-grad"> Create Private Table </span>
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="categorys variation_subtype">
      <ion-scroll direction="x">
        <div class="row" ng-if='VariationActive' ng-click="$event.stopPropagation">
          <div class=" box-black col" ng-click="playNow($event);resetFilter();">
            <span class="text-grad">Public Table</span>
          </div>
          <div class="box-black col" ng-click=" privateTableFilterModal($event);privateResetFilter();">
            <span class="text-grad"> Private Table </span>
          </div>
          <div class="box-black col" ng-click="myPrivateTable();openMyPrivateTable($event);">
            <span class="text-grad"> My Private Table </span>
          </div>
          <div class="box-black col" ng-click="createPrivateModal($event,gameType);">
            <span class="text-grad"> Create Private Table </span>
          </div>
          <!-- <div class="box-black col" ng-click="createPrivateModal($event);">
            <span class="text-grad"> Create Private Table </span>
          </div> -->
        </div>
      </ion-scroll>
    </div>


    <!-- include class="vertical_scroll" to provide scroll to the overflow -->
    <!--<div class="table_type" ng-if="showType">
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
        <div class="type">
          <span class="text-grad" ui-sref="table"> Play Now </span>
        </div>
      </div>-->


    <div class="table_type no-click-effect" ng-if="showType" ng-click="$event.stopPropagation()">
      <div class="type" ng-repeat="t in tableData track by $index">
        <span class="text-grad" ng-click="goToTable(t)" promise-btn="goToTable"> {{t.chalLimit}} </span>
      </div>

    </div>
  </div>
</div>




<!-- side menu -->
<div class="custom_menu lobby_menu " ng-class="{'menu_open':sideMenu}" ng-click="closeAllTab()">
  <div class="menu_close" ng-click="closeMenu()">
    <img src="img/close.png">
  </div>
  <div class="menu_cont" ng-click="$event.stopPropagation()">

    <div class="user_profile left ">
      <div class="profile_pic">
        <div class="profile_pic_overlay">
          <img ng-src="{{image | serverimage}}"> </div>

      </div>
      <div class="profile_info">
        <!-- <div class="name">Christle Kallis</div>
          <div class="player_badge"> Bronze </div>
          <div class="amt">
            <img src="img/lobby/yellow_coin.png"> 100000</div> -->

        <div class="name">{{username}}</div>
        <div class="player_badge"> {{userType}} </div>
        <div class="amt">
          <img src="img/lobby/yellow_coin.png"> {{balance|number:0}}</div>

      </div>

    </div>
    <!-- <div class="amt_modify">
        <span>ADD</span>
        <span>Withdrawal</span>
      </div> -->

    <ion-list class="menu_list custom-scroll">
      <!-- <ion-item ng-click="openPLModal()">
          profit and loss
        </ion-item> -->
      <ion-item ng-click="openACStatement();accountStatement();">
        account statement
      </ion-item>
      <ion-item ng-click="openTransferStatement();transferStatement();">
        transfer statement
      </ion-item>
      <!-- <ion-item ng-click="myPrivateTable();openMyPrivateTable($event);">
        My Private Table
      </ion-item>
      <ion-item ng-click="createPrivateModal($event)">
        Create Private Table
      </ion-item> -->
      <ion-item ng-click="openRulesModal($event)">
        Rules
      </ion-item>
      <ion-item ng-click="openChangePasswordModel()">
        change password
      </ion-item>
      <ion-item ng-click="logout()">
        Logout
      </ion-item>
    </ion-list>
  </div>
</div>




<!-- <ion-view>
  <ion-content>
    <div class="close" ng-click="closePriceRangeModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">table</div>
    <form name="filterTable">
      <div class="top_field filter">
        Filter with
        <select ng-model="filterData.type" ng-options="x for x in filterType" placeholder="Blind Amt">
          <option value="" disabled hidden selected>Type</option>
        </select>
        <input type="text" ng-model="filterData.blindAmt" placeholder="Blind Amt">
        <input type="text" ng-model="filterData.chalAmt" placeholder="Chaal Amt">
        <input type="text" ng-model="filterData.name" placeholder="Table Name">
        <div class="row">
          <div class="col">
            <button class="custom_button  btn_search" type='submit' ng-click="filterTables(filterData);resetpage();" promise-btn="filterTablePromise">
              Search </button>
          </div>
          <div class="col">
            <button class="custom_button  btn_search" type='submit' ng-click="resetFilter();resetpage();" promise-btn="filterTablePromise">
              Reset </button>
          </div>
        </div>
      </div>
    </form>

    <div class="statement_content" ng-if="tablesDataFilter">
      <table>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Stakes</th>
          <th>Max Players</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="dataFilter in tablesDataFilter" infinite-scroll="loadMoreFilterTable()" infinite-scroll-disabled="loadingDisable">
          <td>{{dataFilter.name}} </td>
          <td>
            <span ng-if="dataFilter.type"> {{dataFilter.type}}</span>
            <span ng-if="!dataFilter.type">Public</span>
          </td>
          <td>{{dataFilter.blindAmt}} - {{dataFilter.chalAmt}} </td>
          <td>{{dataFilter.noOfPlayers}} / {{dataFilter.maximumNoOfPlayers}}</td>
          <td>
            <button class="custom_button" ng-click="goToTable(dataFilter)" ng-if="dataFilter.type=='public'">PLAY</button>
            <button class="custom_button" ng-click="goToPrivateTableLogIn(dataFilter)" ng-if="dataFilter.type=='private'">Log In</button>
          </td>
        </tr>
      </table>
    </div>

    <div class="loader" ng-if="!tablesDataFilter">
      Loading ..
    </div>
  </ion-content>
</ion-view> -->
