<div class="login">
  <div class="login_block">
    <img src="img/login/logo.png" class="login_logo">
    <form name="login">


      <div class="login_button row">
        <div class="col col-20"><img src="img/login/icon_king.png" class="icon"></div>
        <input class="col" type="text" name="username" ng-model="data.username" placeholder="USER NAME" required>
      </div>
      <span  class="valid" ng-show="login.username.$touched && login.username.$invalid">* username is required.</span>

      <div class="login_button row">
        <div class="col col-20"><img src="img/login/icon_lock.png" class="icon"></div>
        <input class="col" type="password" name="password" ng-model="data.password" placeholder="PASSWORD" required>
      </div>
      <span class="valid" ng-show="login.password.$touched && login.password.$invalid">* password is required.</span>

      <div class="valid invailduser" ng-if="invalidUser">incorrect username or password</div>

      <div class="login_button_submit row">
        <button class="button" type='submit' ng-click="playerLogin(data,login)">LOGIN</button>
      </div>
      
    </form>

  </div>
</div>
