<!-- poker design -->
<div class="pokerkingtable">
  <div class="top_field">
    <div class="option_menu_icon left" ng-click="openLeftMenu()">
      <i class="icon ion-navicon-round"></i>
    </div>
    <div class="newgame option_menu_icon left">
      <button class="button button-small button-royal" ng-click="newGame();"> New Game </button>
    </div>
    <div class="right_side_icon right">
      <div class="setting_menu_icon">
        <span class="icon ion-information" ng-click="toggleTableInfo()"></span>

      </div>
      <poker-table-info></poker-table-info>
    </div>

  </div>

  <div class="main-table" ng-click="closeAllModal()">

    <div class="playing-table">
      <img src="img/doll.png" class="doll">
      <img src="img/poker/table.png" class="bg-table">
      <div class="tip" ng-if="!sitHere" ng-click="openMakeTipModal()">
        TIP
      </div>

      <poker-pot-amount ng-pots="pots" ng-player="players" ng-if="pots">
      </poker-pot-amount>
      <poker-tip-amount ng-amount="tipAmount" ng-player-no="TipPlayerNo" ng-player="players"> </poker-tip-amount>

      <div class="card_shuffle">
        <div class="cards">
          <card card='NONE'> </card>
          <card card='NONE'> </card>
          <card card='NONE'> </card>
        </div>
        <div class="cards toplyr1">
          <card card='NONE'> </card>
          <card card='NONE'> </card>
          <card card='NONE'> </card>
        </div>
      </div>
      <div class="communitycard">
        <div class="cards">
          <card card='{{communityCards[0].cardValue}}'> </card>
          <card card='{{communityCards[1].cardValue}}'> </card>
          <card card='{{communityCards[2].cardValue}}'> </card>
          <card card='{{communityCards[4].cardValue}}'> </card>
          <card card='{{communityCards[6].cardValue}}'> </card>
        </div>
      </div>
      <div class="players">
        <poker-boot-animation> </poker-boot-animation>
        <poker-players id="plr1" ng-pos="1" ng-click="openPriceRangeModal(1)" ng-player="players[0]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr2" ng-pos="2" ng-click="openPriceRangeModal(2)" ng-player="players[1]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr3" ng-pos="3" ng-click="openPriceRangeModal(3)" ng-player="players[2]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr4" ng-pos="4" ng-click="openPriceRangeModal(4)" ng-player="players[3]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr5" ng-pos="5" ng-click="openPriceRangeModal(5)" ng-player="players[4]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr6" ng-pos="6" ng-click="openPriceRangeModal(6)" ng-player="players[5]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr7" ng-pos="7" ng-click="openPriceRangeModal(7)" ng-player="players[6]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr8" ng-pos="8" ng-click="openPriceRangeModal(8)" ng-player="players[7]" ng-animation="startAnimation"
          ng-sit-here="sitHere">
        </poker-players>
        <poker-players id="plr9" ng-pos="9" ng-click="openPriceRangeModal(9)" ng-player="players[8]" ng-animation="startAnimation"
          ng-sit-here="sitHere" ng-if="sitHere">
        </poker-players>
        <poker-main-player ng-pos="0" ng-click="openPriceRangeModal(9)" ng-if="!sitHere && !player[8].tableLeft" ng-main="main-player"
          ng-player="players[8]" ng-sit-here="sitHere">
        </poker-main-player>

      </div>
    </div>
    <div class="playing-player-info" ng-if="!sitHere && !player[8].tableLeft" ng-click="stopProgation($event)">
      <button class="" ng-click="fold()" promise-btn="foldPromise" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft">
        FOLD
      </button>
      <button class="call" ng-click="call();" promise-btn="callPromise" ng-if="!isCalled && !isChecked" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft || (players[8].buyInAmt-players[8].totalAmount < fromRaised)">
        call
      </button>
      <button class="call" ng-click="call()" ng-if="isCalled" promise-btn="callPromise" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft || (players[8].buyInAmt-players[8].totalAmount < fromRaised)">
        call
      </button>
      <button class="check" ng-click="check();" ng-if="isChecked" promise-btn="checkPromise" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft || (players[8].buyInAmt-players[8].totalAmount < fromRaised)">
        <span class="light"></span>
        <span class="btn_name"> Check </span>
      </button>
      <div class="mainplayer_block">
        <div class="info"> {{ players[8].name }}
          <img src="img/coin.png">{{players[8].buyInAmt-players[8].totalAmount | number}}
        </div>

        <div class="showing_cards " ng-class="{'poker_main_card_anime':players[8].cards.length>0 && startAnimation}">
          <!-- <div class="custom-row card2 custom-row-card" ng-if="players[8].winnerDetails">
            <card card='NONE'>
            </card>
            <card card='NONE'></card>
          </div> -->
          <div ng-if="!players[8].isFold">
            <div class=" custom-row custom-row-card card2">
              <card card='{{players[8].cards[0]}}'> </card>
              <card card='{{players[8].cards[1]}}'> </card>
            </div>
          </div>
        </div>
      </div>
      <div class="pos_range" ng-if="openSlider">
        <button class="custom_button mb0" type='submit' ng-click="raise(raiseSlider.value);toggleSlider();">Ok</button>
        <div>
          <rzslider rz-slider-model="raiseSlider.value" rz-slider-options="raiseSlider.options"></rzslider>
        </div>
        <button class="custom_button mb0" type='submit' ng-click="toggleSlider();" promise-btn="raisePromise">Cancel</button>
      </div>
      <button class="" ng-click="toggleSlider()" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft || (players[8].buyInAmt-players[8].totalAmount < fromRaised) && !isRaised">
        Raise {{slider.value}}
      </button>
      <button class="" ng-click="allIn()" promise-btn="allInPromise" ng-disabled="!players[8].isTurn || players[8].isFold || players[8].tableLeft ||(players[8].buyInAmt-players[8].totalAmount < 0)">
        All IN
      </button>
    </div>
  </div>
</div>
<left-menu></left-menu>
<div class="loader table_loader" ng-if="ShowLoader">
  <div class="center">
    <img src="img/logo.png" class="loader-logo">
    <div>Loading... </div>
    <img src="img/spinner.gif">
  </div>


</div>
