<div class="main-table">
  <!-- <div class="option left">
    <img src="img/option.png" class="">
  </div>
  <div class="info right">
    <div class="setting">
      <span class="icon ion-information"></span>
      <span class="icon ion-volume-high"></span>
    </div>
    <div class="border-style">
      <table class="table-info bg-style">
        <tr>
          <th colspan="2" class="heading">Table Info</th>
        </tr>
        <tr>
          <td>
            Pot-Limit
          </td>
          <td>
            10000
          </td>
        </tr>
        <tr>
          <td>
            Boot Amount
          </td>
          <td>
            200
          </td>
        </tr>
        <tr>
          <td>
            Chal Limit
          </td>
          <td>
            1220
          </td>
        </tr>
        <tr>
          <td>
            Max Blind
          </td>
          <td>
            04
          </td>
        </tr>
      </table>
    </div>

  </div> -->
  <div class="lobby">
    <div class="table-lobby">
      <img src="img/doll.png" class="doll">
      <img src="/img/table.png" class="lobby-table">
      <div class="other_player player1">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player2">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player3">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player4">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player5">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player6">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player7">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player8">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player9 playing-player">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">Some Random NAme</div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="lobby">
    <img class="img-responsive" src="img/table.png" width='100%'>
    <div class="doll">

    </div>
  </div> -->
</div>
