<div class="kingtable">

  <div class="top_field">
    <div class="option_menu_icon left" ng-click="openLeftMenu()">
      <!-- <img src="img/option.png" class=""> -->
      <i class="icon ion-navicon-round"></i>
    </div>
    <div class="play_history  left " ng-class="{'open_play_history':viewHistory}">
      <div class="border-gradient">
        <div class="bg-style cont">
          <div>Charles Played Blind </div>
          <div>Charles Played Blind </div>
          <div>Charles Played Blind </div>
          <div>Charles Played Blind </div>
        </div>
      </div>
      <div class="down-arrow" ng-click="toggleHistory()">
        <!-- <i class="icon ion-arrow-down-a"></i> -->
        <i class="icon ion-chevron-down"></i>
      </div>
    </div>
    <div class="right_side_icon right">
      <div class="setting_menu_icon">
        <span class="icon ion-information" ng-click="toggleTableInfo()"></span>
        <img src="img/option.png" ng-click="openRightMenu()">
      </div>
      <div class=" table-info border-gradient" ng-if="showTableinfo">
        <table class="bg-style">
          <tr>
            <th colspan="2" class="heading">Table Info</th>
          </tr>
          <tr>
            <td>
              Boot Amount
            </td>
            <td>
              200
            </td>
          </tr>
          <tr>
            <td>
              Chal Limit
            </td>
            <td>
              1220
            </td>
          </tr>
          <tr>
            <td>
              Max Blind
            </td>
            <td>
              04
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>
  <div class="main-table" ng-click="closeAllModal()">
    <div class="playing-table">
      <img src="img/doll.png" class="doll">
      <img src="img/table.png" class="bg-table">
      <div class="plyr player1">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles Char le sChar les Pull</span>
        </div>
      </div>
      <div class="plyr player2">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div class="plyr player3">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div ng-click="sitHere()" class="plyr player4 sit_here ">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div class="plyr player5">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div class="plyr player6 card_fold">
        <div class="status">FOLD</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div class="plyr player7 winner dealer">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>
      <div class="plyr player8">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/default_profile.png">
          <div class="plyr_card">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>
        <div class="plyr_name" ng-click="openPlayerDetails()">
          <span>Charles CharlesCharles Pull</span>
        </div>
      </div>


      <div class="plyr  main-player " ng-click="mainPlayerClicked()">
        <div class="status">BLIND</div>
        <div class="plyr_pic">
          <img class="pic" src="img/playing_profile.png">
          <div class="plyr_card">

            <img src="img/card-back.png">
            <img src="img/card-back.png">
            <img src="img/card-back.png">
          </div>
          <div class="card_see">See</div>
        </div>
        <div class="amt">
          <img src="img/coin.png">64,000</div>

      </div>
      <!-- <div class="other_player player1">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span>Some Randodsadsadsadsadsadsdm NAme</span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player2">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player3">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player4">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player5">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player6">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player7">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div>
      <div class="other_player player8">
        <div class="col profile_pic">
          <img src="img/default_profile.png">
          <div class="player_info">
            <span> Some Random NAme </span>
          </div>
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">Seen</div>
        </div>
      </div> -->
      <!-- <div class="other_player player9 playing-player">
        <div class="col profile_pic">
          <img src="img/playing_profile.png">
        </div>
        <div class="col profile_card">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <img src="img/card-back.png">
          <div class="card_status">
            <span>See</span>
          </div>
        </div>
      </div> -->
      <div class="showing_cards">
        <img src="img/table/card-back.png">
        <img src="img/table/card-back.png">
        <img src="img/table/card-back.png">
        <div class="card_see" ng-click="showCard()">See</div>
      </div>
      <div class="playing-player-info">
        <span class="pack"> PACK </span>
        <span class="slide_show"> side show </span>
        <!--<span class="info"> christie kallies
          <img src="img/coin.png">120000 </span>-->
        <span class="info"> {{username}}
          <img src="img/coin.png">{{credit}}</span>
        <span class="minus no-click-effect" ng-click="removeCoin()">
          <i class="icon ion-minus-round"></i>
        </span>
        <span class="coin">
          <img src="img/coin.png">{{coin}} blind</span>
        <span class="plus no-click-effect" ng-click="addCoin()">+</span>

      </div>
    </div>
  </div>
</div>


<!-- left menu -->
<div class="custom_menu option_menu" ng-class="{'menu_open': leftMenu}" ng-click="closeAllModal()">
  <div class="menu_close" ng-click="closeLeftMenu()">
    <img src="img/close.png">
  </div>
  <div class="menu_cont" ng-click="stopProgation($event)">
    <div class="user_profile left ">
      <div class="profile_pic">
        <img src="img/playing_profile.png">
      </div>
      <div class="profile_info">
        <!--<div class="name">Christle Kallis</div>
        <div class="player_badge"> Bronze </div>
        <div class="amt">
          <img src="img/lobby/yellow_coin.png"> 100000</div>-->


        <div class="name">{{username}}</div>
        <div class="player_badge"> {{userType}} </div>
        <div class="amt">
          <img src="img/lobby/yellow_coin.png"> {{credit}}</div>


      </div>

    </div>
    <!-- <div class="amt_modify">
        <span>ADD</span>
        <span>Withdrawal</span>
      </div> -->

    <ion-list class="menu_list custom-scroll">
      <ion-item ui-sref="lobby">
        <img src="img/table/icon/back.png" class="text_icon">Back to lobby
      </ion-item>
      <!-- <ion-item>
        <img src="img/table/icon/switch.png" class="text_icon"> switch table
      </ion-item> -->
      <ion-item>
        <img src="img/table/icon/standup.png" class="text_icon extra_small"> standup
      </ion-item>
      <ion-item>
        <img src="img/table/icon/help.png" class="text_icon"> help
      </ion-item>
      <!-- <ion-item>
          <img src="img/table/icon/standup.png" class="text_icon"> setting
      </ion-item> -->
      <!-- <ion-item>
        <img src="img/table/icon/next_standup.png" class="text_icon"> stand up in next round
      </ion-item> -->
      <ion-item>
        feedback
      </ion-item>
      <ion-item>
        terms of service
        <i class="icon ion-chevron-right right"></i>
      </ion-item>
      <ion-item>
        privacy and policy
        <i class="icon ion-chevron-right right"></i>
      </ion-item>
    </ion-list>

  </div>
</div>

<!-- right menu -->
<div class="custom_menu  setting_menu" ng-class="{'menu_open': rightMenu}" ng-click="closeAllModal()">
  <div class="menu_close" ng-click="closeRightMenu()">
    <img src="img/close.png">
  </div>
  <div class="menu_cont" ng-click="stopProgation($event)">
    <div class="heading">Setting</div>
    <ion-list class="menu_list custom-scroll">
      <ion-item>
        sound
        <ion-toggle ng-model="sound" toggle-class="" class="custom_toggle"></ion-toggle>
      </ion-item>
      <!-- <ion-item class="">
        Sound
        <label class="toggle right custom_toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item> -->
      <ion-item>
        vibration
        <ion-toggle ng-model="sound" toggle-class="" class="custom_toggle"></ion-toggle>


      </ion-item>
      <ion-item>
        push notification
        <ion-toggle ng-model="sound" toggle-class="" class="custom_toggle"></ion-toggle>
      </ion-item>

    </ion-list>

  </div>
</div>
