<!-- left menu -->
<left-menu></left-menu>

<!-- right menu -->
<right-menu></right-menu>
<div class="kingtable">
  <div class="top_field">
    <div class="option_menu_icon left" ng-click="openLeftMenu()">
      <!-- <img src="img/option.png" class=""> -->
      <i class="icon ion-navicon-round"></i>
    </div>
    <game-history></game-history>
    <div class="right_side_icon right">
      <div class="setting_menu_icon">
        <span class="icon ion-information" ng-click="toggleTableInfo()"></span>
        <img src="img/option.png" ng-click="openRightMenu()">
      </div>
      <table-info></table-info>
    </div>

  </div>

  <div class="main-table" ng-click="closeAllModal()">
    <div class="playing-table">
      <img src="img/doll.png" class="doll">
      <img src="img/table.png" class="bg-table">
      <div class="tip" ng-click="makeTip()">
        TIP
      </div>
      <!-- Cards -->
      <div class="total_played_coin">
        <img src="img/coin.png" class="coin">{{potAmount}}</div>
      <div class="card_shuffle">
        <div class="cards">
          <card card='NONE'> </card>
          <card card='NONE'> </card>
          <card card='NONE'> </card>
        </div>
        <div class="cards toplyr1">
          <card card='NONE'> </card>
          <card card='NONE'> </card>
          <card card='NONE'> </card>
        </div>
      </div>

      <!-- player -->
      <div class="players">

        <!-- <players id="plr2" ng-click="sitHerefn(2)" ng-player="players[1]" class="plyr p2" ng-class="{'no_player':!players[1]  && !sitHere,'sit_here':sitHere && !players[1],'winner':players[1].playerNo==winnerPlayerNo , 'card_shuffle_animation': players[1] &&  players[1].cards.length>0 && startAnimation,'addtimer' : players[1].isTurn}">
        </players>
        <div class="p2 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr3" ng-click="sitHerefn(3)" ng-player="players[2]" class="plyr p3" ng-class="{'no_player':!players[2]  && !sitHere,'sit_here':sitHere && !players[2] ,'winner': players[2].playerNo==winnerPlayerNo, 'card_shuffle_animation': players[2]  &&  players[2].cards.length>0 && startAnimation,'addtimer' : players[2].isTurn}">
        </players>
        <div class="p3 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr4" ng-click="sitHerefn(4)" ng-player="players[3]" class="plyr p4" ng-class="{'no_player':!players[3]  && !sitHere,'sit_here':sitHere && !players[3],'winner':  players[3].playerNo==winnerPlayerNo, 'card_shuffle_animation': players[3]  &&  players[3].cards.length>0 && startAnimation,'addtimer' : players[3].isTurn}">
        </players>
        <div class="p4 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr5" ng-click="sitHerefn(5)" ng-player="players[4]" class="plyr p5" ng-class="{'no_player':!players[4]  && !sitHere,'sit_here':sitHere && !players[4]  ,'winner': players[4].playerNo==winnerPlayerNo, 'card_shuffle_animation': players[4]  &&  players[4].cards.length>0 && startAnimation,'addtimer' : players[4].isTurn}">
        </players>
        <div class="p5 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr6" ng-click="sitHerefn(6)" ng-player="players[5]" class="plyr p6" ng-class="{'no_player':!players[5]  && !sitHere,'sit_here':sitHere && !players[5]  ,'winner':  players[5].playerNo==winnerPlayerNo, 'card_shuffle_animation': players[5]  &&  players[5].cards.length>0 && startAnimation,'addtimer' : players[5].isTurn}">
        </players>
        <div class="p6 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr7" ng-click="sitHerefn(7)" ng-player="players[6]" class="plyr p7" ng-class="{'no_player':!players[6]  && !sitHere,'sit_here':sitHere && !players[6] ,'winner':  players[6].playerNo==winnerPlayerNo, 'card_shuffle_animation': players[6]  &&  players[6].cards.length>0 && startAnimation,'addtimer' : players[6].isTurn}">
        </players>
        <div class="p7 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div>
        <players id="plr8" ng-click="sitHerefn(8)" ng-player="players[7]" class="plyr p8" ng-class="{'no_player':!players[7]  && !sitHere,'sit_here':sitHere && !players[7] ,'winner':   players[7].playerNo==winnerPlayerNo , 'card_shuffle_animation': players[7]  &&  players[7].cards.length>0 && startAnimation,'addtimer' : players[7].isTurn}">
        </players>
        <div class="p8 bootAnimate" ng-if="true">
          <img src="img/coin.png" class="coin">{{betamount}}
        </div> -->



        <players id="plr1" ng-click="sitHerefn(1)" ng-pos="1" ng-player="players[0]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr2" ng-click="sitHerefn(2)" ng-pos="2" ng-player="players[1]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr3" ng-click="sitHerefn(3)" ng-pos="3" ng-player="players[2]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr4" ng-click="sitHerefn(4)" ng-pos="4" ng-player="players[3]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr5" ng-click="sitHerefn(5)" ng-pos="5" ng-player="players[4]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr6" ng-click="sitHerefn(6)" ng-pos="6" ng-player="players[5]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr7" ng-click="sitHerefn(7)" ng-pos="7" ng-player="players[6]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <players id="plr8" ng-click="sitHerefn(8)" ng-pos="8" ng-player="players[7]" ng-sit-here="sitHere" ng-win="winnerPlayerNo"
          ng-animation="startAnimation">
        </players>
        <!-- main Player -->
        <mainPlayer ng-click="sitHerefn(9)" ng-if="sitHere" ng-pos="9" ng-main="9" ng-player="players[8]" ng-sit-here="sitHere" ng-win="winnerPlayerNo">
        </mainPlayer>
        <mainPlayer ng-click="sitHerefn(9)" ng-if="!sitHere" ng-pos="0" ng-main="main-player" ng-player="players[8]" ng-sit-here="sitHere"
          ng-win="winnerPlayerNo"> </mainPlayer>
        <!-- main Player -->
      </div>
      <!-- end player -->

      <div class="p9 bootAnimate" ng-if="true">
        <img src="img/coin.png" class="coin">{{potAmt}}
      </div>

      <!--showCard-->
      <div class="showing_cards" ng-if="!sitHere && (players[8].cards.length > 0)" ng-class="{'main_card_anime':players[8].cards.length>0 && startAnimation}">
        <div class="custom-row" ng-if="players[8].isBlind && !players[8].isFold && players[8].isBlind">
          <card card='NONE'> </card>
          <card card='NONE'> </card>
          <card card='NONE'> </card>
        </div>
        <div ng-if="!players[8].isBlind && !players[8].isFold">
          <div class=" custom-row ">
            <card card='{{players[8].cards[0]}}'> </card>
            <card card='{{players[8].cards[1]}}'> </card>
            <card card='{{players[8].cards[2]}}'> </card>
          </div>
        </div>
        <div ng-if="players[8].isBlind && !startAnimation && !players[8].isFold && (players[8].cards.length > 0)" class="card_see"
          ng-click="showCard()">See</div>
      </div>
    </div>
    <div class="playing-player-info" ng-if="!sitHere && players[8] && !players[8].isFold">
      <span class="pack" ng-click="pack()" ng-if="players[8].isTurn"> PACK</span>
      <span class="slide_show" ng-click="sideShow()" ng-if="(players[8].isTurn)&& (remainingPlayer > 2)"> side show </span>
      <span class="slide_show " ng-click="showWinner()" ng-if="(players[8].isTurn) && (remainingPlayer == 2)">show</span>
      <span class="info"> {{players[8].name}}
        <img src="img/coin.png"> {{players[8].balance - players[8].totalAmount}}
      </span>
      <span class="minus no-click-effect" ng-click="removeCoin()" ng-if="players[8].isTurn && betamount>minAmt">
        -
      </span>
      <span class="minus no-click-effect opacity-05" ng-if="players[8].isTurn && betamount<=minAmt">
        -
      </span>
      <span class="coin" ng-click="playChaal()" ng-if="players[8].isTurn">
        <img src="img/coin.png"> {{betamount}}
        <span ng-if="players[8].isBlind">blind </span>
        <span ng-if="!players[8].isBlind"> chaal</span>
      </span>
      <span class="plus no-click-effect" ng-click="addCoin()" ng-if="players[8].isTurn && betamount<maxAmt">+</span>
      <span class="plus no-click-effect opacity-05" ng-if="players[8].isTurn && betamount>=maxAmt">+</span>
    </div>
  </div>
</div>
