.platform-browser {
  @media screen and (min-width: 800px) and (orientation:landscape) {
    .login {
      .login_block {
        width:35%;
        top: 0;
        transform: translate(-50%, 20px);
      }
    }
    .main_lobby {
      .user_profile .profile_pic {
        padding-top: 8px;
      }
      .scroll-view {
        .scroll-x {
          overflow-x: hidden;
        }
      }
      .scroll-view.scroll-x {
        overflow-x: hidden;
      }
      .lobby_menu .menu_cont .item {
        padding: 5% 0px;
      }
      .box-black {
        min-height: 15vh !important;
      }
    }
    .lobby_menu {
      .menu_cont .user_profile .profile_info {
        padding-top: 10px;
      }
      .menu_cont .user_profile .profile_pic {
        padding-top: 5px;
        padding-left: 15px;
      }
      .menu_cont .item {
        padding: 15px 0px;
      }
    }
    .rules_modal {
      ion-content {
        height: 100%;
        .scroll {
          height: 100%;
        }
        .statement_content {
          height: 80%;
        }
      }
      .overflow-scroll {
        overflow: unset;
      }
    }
    .kingtable {
      .main-player .plyr_pic .pic {
        height: 120px;
        min-height: 30vh;
      }
      .pic {
        height: 30px;
      }
    } //login modal
    .side-show .cont {
      padding: 30px 5%;
    }
    .room_summary {
      .heading {
        padding: 10px;
      }
      ion-content {
        margin: 35px;
      }
    } //modal fix 
    .statement-model .top_field input {
      max-width: 15vw;
    }
    .add_private_table {
      top: 4px;
    }
    .delete_icon {
      padding-left: 10px;
      float: unset;
    } //table info
    .table-info {
      font-size: 2em;
      padding: 10px;
    } //end of media query
  }
}
