.custom-model {
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  min-height: 5vh;
  width: 80%;
  background: url('../img/model_bg.png');
  background-size: 100% 100%;
  color: white;
  font-family: 'Cinzel-Regular';
  padding: 2%;
  ion-content {
    padding: 4%;
  }
}

.small-model {
  top: 15%;
  right: 25%;
  bottom: 15%;
  left: 25%;
  width: 50%;
}

//account statement model
.statement-model {
  font-size: 1em;
  .close {
    position: absolute;
    right: 0%;
    top: 0%;
    img {
      width: 15px;
    }
  }
  .heading {
    text-align: center;
    font-size: 1.2em;
    font-family: 'CinzelDecorative-Bold';
  }
  .top_field {
    border-image: $border-color;
    border-image-slice: 2;
    border-bottom: 1px solid;
    padding: 2%;
    select {
      font-family: 'Cinzel-Regular';
      font-size: 1em;
      background: url('../img/model/input_bg.png');
      background-size: 100% 100%; // border-image:$border-color;
      // border-image-slice: 2;
      // border-bottom: 1px solid;
      border: 0px;
      color: white;
      padding: 2px 3%;
      option {
        font-family: 'Cinzel-Regular';
        font-size: 1em;
        background-color: #3f474f; // background: url('../img/model/input_bg.png');
        // background-size: 100% 100%;
        color: white;
        padding: 2px 3%;
      }
    }
    input {
      display: inline-block;
      padding: 2%;
      color: white;
      font-family: 'Cinzel-Regular';
      font-size: 1em;
      background: url('../img/model/input_bg.png');
      background-size: 100% 100%;
      width: 20%;
      height: 20%;
      height: 2em;
    }
  }
  .statement_content {
    overflow-y: scroll;
    height: 75%;
    &::-webkit-scrollbar {
      width: 3px;
      height: 6px;
    }
    &::-webkit-scrollbar-button {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #060606;
    }
    &::-webkit-scrollbar-thumb:active {
      background: #656262;
    }
    &::-webkit-scrollbar-track {
      background: #000000;
      border: 0px none #ffffff;
      border-radius: 100px;
    }
    &::-webkit-scrollbar-track:hover {
      background: #666666;
    }
    &::-webkit-scrollbar-track:active {
      background: #333333;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    table {
      width: 90%;
      text-align: left;
      margin: 2%;
      th {
        font-family: 'Cinzel-Bold';
        font-size: .9em;
      }
      td {
        font-size: .8em;
        border-bottom: 1px solid grey;
        line-height: 1.5;
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }
}

.change_password-model {
  .field {
    text-align: center;
    padding: 20px;
    form {
      table {
        width: 90%;
        margin: 0 auto;
        td {
          padding: 3%;
          font-size: 1.1em;
        }
      }
      input {
        display: inline-block;
        height: 1.1em;
      }
      button {
        background: url("../img/model/submit_background.png");
        background-size: 100% 100%;
        color: white;
        padding: 5px 25px;
        border: 0px;
      }
    }
  }
}

.table_info_modal {
  height: 60%;
  width: 50%;
  top: 20%;
  left: 25%;
  .heading {
    font-size: 1.5em; // padding-top: 8%;
    font-family: 'Cinzel-Bold';
    border-image: $border-color;
    border-image-slice: 2;
    border-bottom: 1px solid;
  }
  table {
    font-size: 1em;
    font-family: 'Cinzel-Bold';
    margin: 6% auto;
    width: 70%;
    td {
      padding: 1%;
    }
  }
  button {
    background: url("../img/model/submit_background.png");
    background-size: 100% 100%;
    color: white;
    padding: 5px 25px;
    border: 0px;
  }
  .ok {
    // text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2%;
  }
  .scroll {
    height: 100%;
  }
}

.room_summary {
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%; // transform: translate(-50%,-50%) !important;
  .heading {
    font-family: 'Cinzel-Bold';
    border-image: $border-color;
    border-image-slice: 2;
    border-bottom: 1px solid;
  }
  .ok {
    // position: absolute;
    // bottom: 0;
    // padding-bottom: 5%;
    // left: 50%;
    // transform: translateX(-50%);
    // text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2%;
  }
  button {
    background: url("../img/model/submit_background.png");
    background-size: 100% 100%;
    color: white;
    padding: 5px 25px;
    border: 0px;
  }
  .cont {
    text-align: center;
    padding: 13% 5%;
    font-family: 'Cinzel-Bold';
  }
  .scroll {
    height: 100%;
  }
}

.active .modal-backdrop-bg {
  background: rgba(0, 0, 0, 0.8);
}

.player-details {
  top: 5%;
  bottom: 5%;
  background: url('../img/table/profilebg.jpg');
  background-size: 100% 100%;
  width: 50%;
  left: 25%;
  right: 25%;
  .outer {
    padding: 8% 2%;
    width: 100%;
    .profile {
      display: flex;
      flex-direction: row;
      padding-bottom: 5%;
      .profile_pic {
        width: 20%;
        padding: 1%;
      }
      .profile_info {
        font-size: .9em;
        line-height: 1.8;
        padding-left: 2%;
        .badges {
          font-family: 'Cinzel-Bold';
        }
        .amt {
          background: url('../img/text_bg2.png');
          background-size: 100% 100%;
          text-align: center;
          padding: 3px 5px;
          width: 80%;
          white-space: nowrap;
          .coin {
            width: 1em;
            vertical-align: middle;
            padding: 1%;
          }
        }
      }
      .player_id {
        position: absolute;
        top: 8%;
        right: 2%;
        font-size: .9em;
      }
    }
    .divide{
      background: $border-color;
      height: 1px;
      width: 80%;
      margin: 0px auto;
      padding: 0;
      border:0px;
    }

    .profile_data{
      font-size: .9em;
      padding-top: 5%;
      .p_heading{
        text-align: center;
        padding:0px;
      }
      .table_stats{
        .chips_won{
          padding: 5% 0px;
          line-height: 1.5;
          .coin{
            width: 1em;
            vertical-align: middle;
            padding: 1%;
          }
        }
        .hands_won{
          padding: 5% 0px;
          line-height: 1.5;
        }
      }
      .player_rank{
        .last_week{
          padding: 5% 0px;
          line-height: 1.5;
        }
      }
    }

    .active_days{
      position: absolute;
      font-size: .7em;
right:2%;
bottom:10%;
    }
  }
}
