<div class="p1 bootAnimate">
  <img src="img/coin.png" class="coin">{{ chaalAmt}}
</div>

<div class="p2 bootAnimate" ng-if="(players[1].isChaal==true && !players[1].isFold && remainingPlayerCount>1) || (players[1] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p3 bootAnimate" ng-if="(players[2].isChaal==true && !players[2].isFold && remainingPlayerCount>1) ||  (players[2] && startCoinAnime && remainingPlayerCount>1) ">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p4 bootAnimate" ng-if="(players[3].isChaal==true && !players[3].isFold && remainingPlayerCount>1) ||  (players[3] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p5 bootAnimate" ng-if="(players[4].isChaal==true && !players[4].isFold && remainingPlayerCount>1) ||  (players[4] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p6 bootAnimate" ng-if="(players[5].isChaal==true && !players[5].isFold && remainingPlayerCount>1)  || (players[5] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p7 bootAnimate" ng-if="(players[6].isChaal==true && !players[6].isFold && remainingPlayerCount>1) || (players[6] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>

<div class="p8 bootAnimate" ng-if="(players[7].isChaal==true && !players[7].isFold && remainingPlayerCount>1) ||  (players[7] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>


<div class="p9 bootAnimate" ng-if="(players[8].isChaal==true && !players[8].isFold && remainingPlayerCount>1) ||  (players[8] && startCoinAnime && remainingPlayerCount>1)">
  <img src="img/coin.png" class="coin">{{chaalAmt}}
</div>
