<div class=" table-info border-gradient" ng-if="showTableinfo">
  <table class="bg-style">
    <tr>
      <th colspan="2" class="heading">Poker Table Info</th>
    </tr>
    <tr>
      <td>
        Blinds
      </td>
      <td>
        <!-- {{bootAmt}} -->
        10 / 20
      </td>
    </tr>
    <tr>
      <td>
        Buy - in
      </td>
      <td>
        500 / 5000
      </td>
    </tr>
    <tr>
      <td>
        Game Type
      </td>
      <td>
        Poker
      </td>
    </tr>

    <tr>
      <td>
        Pot Limit
      </td>
      <td>
        No Limit
      </td>
    </tr>
    <!-- <tr>
        <td>
          Max Blind
        </td>
        <td>
          {{maxBlind}}
        </td>
      </tr> -->
  </table>
</div>
