<div class="roulette">
  <div class="roulette-cell">
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>{{totalMoney}} &#8377;</p>
    </div>
    <div class="div-inline upper-button">
      <span>Current Bet</span>
      <p>{{amount}} &#8377;</p>
    </div>
    <div class="div-inline upper-button">
      <div>Min Bet: {{minBet}} &#8377;</div>
      <hr>
      <div>Max Bet: {{maxBet}} &#8377;</div>
    </div>
    <div class="div-inline upper-button" ng-click="Undo()">
      Undo
    </div>
    <div class="div-inline upper-button" ng-click="removeAll()">
      Remove All
    </div>

    <div class="width100">
      <div class="div-inline width6 history">
        <ul class="coin">
          <li ng-repeat="coin in coinArray" ng-click="selectCoin(coin)">
            <img src="img/roulette/{{coin.name}}.png" ng-class="{'MyClass':coin.selected==true}">
          </li>
        </ul>
      </div>
      <div class="div-inline width80">
        <table>
          <tbody>
            <tr class="num">
              <td rowspan="4" ng-click="userBet(0)" ng-class="{{getNgClass(0)}}">
                <div class="zero">
                  <span>0</span>
                  <div class="absolute-coin" ng-repeat="coin in masterArray['0'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
            </tr>
            <tr class="nums" ng-repeat="b1 in b track by $index" ng-init="outerIndex= $index">
              <td ng-repeat="a1 in a track by $index" ng-class="{{getNgClass(getIndex($index,outerIndex)[0])}}">
                <div class="num circle" ng-click="userBet(getIndex($index,outerIndex)[0])">
                  <span>{{getIndex($index,outerIndex)[0]}}</span>
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getIndex($index,outerIndex)[0]].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottombet" ng-if="outerIndex<=1" ng-mouseenter="betPlacing('otherBet',getBottomSplitBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getBottomSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getBottomSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="leftbet" ng-if="$index==0" ng-mouseenter="betPlacing('otherBet',getLeftSplitBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getLeftSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLeftSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="rightbet" ng-if="$index<11" ng-mouseenter="betPlacing('otherBet',getRightSplitBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getRightSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getRightSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottomrightbet" ng-if="outerIndex<=1 && $index<11" ng-mouseenter="betPlacing('otherBet',getCornerBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getCornerBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getCornerBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottomleftbet" ng-mouseenter="betPlacing('otherBet',getCornerBetLeftIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-if="outerIndex<=1 && $index==0"  ng-click="userBet(getCornerBetLeftIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getCornerBetLeftIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="street-bet bottombet" ng-if="outerIndex==2" ng-mouseenter="betPlacing('otherBet',getStreetBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getStreetBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getStreetBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="line-bet bottomrightbet" ng-if="outerIndex==2 && 0 < $index <12" ng-mouseenter="betPlacing('otherBet',getLineBetIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getLineBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLineBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="line-bet bottomleftbet" ng-if="outerIndex==2 && $index == 0" ng-mouseenter="betPlacing('otherBet',getLineBetLeftIndex($index,outerIndex))" ng-mouseleave="betPlacing()" ng-click="userBet(getLineBetLeftIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLineBetLeftIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="sector" data-sector="1" ng-mouseenter="betPlacing((outerIndex+1)+' column')" ng-mouseleave="betPlacing()" ng-click="userBet((outerIndex+1)+' coloumn')">
                <span class="vt">2 to 1</span>
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[(outerIndex+1)+' column'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="empty"></td>
              <td colspan="4" class="sector" data-sector="4" ng-mouseenter="betPlacing('firstDozen')" ng-mouseleave="betPlacing()" ng-click="userBet('First Dozen')">1st 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['First Dozen'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="4" class="sector" data-sector="5" ng-mouseenter="betPlacing('secondDozen')" ng-mouseleave="betPlacing()" ng-click="userBet('Middle Dozen')">2nd 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Middle Dozen'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="4" class="sector" data-sector="6" ng-mouseenter="betPlacing('lastDozen')" ng-mouseleave="betPlacing()" ng-click="userBet('Last Dozen')">3rd 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Last Dozen'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="empty"></td>
            </tr>
            <tr>
              <td class="empty"></td>
              <td colspan="2" class="sector" data-sector="7" ng-mouseenter="betPlacing('low')" ng-mouseleave="betPlacing()" ng-click="userBet('Low Bet')">1 to 18
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Low Bet'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="8" ng-mouseenter="betPlacing('even')" ng-mouseleave="betPlacing()" ng-click="userBet('Even')">EVEN
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Even'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector red-color" ng-mouseleave="betPlacing()" ng-mouseenter="betPlacing('red')" data-sector="9" ng-click="userBet('Red')">RED
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Red'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" id="sectorBlack" class="sector black-color" ng-mouseleave="betPlacing('')" ng-mouseenter="betPlacing('black')"  data-sector="10" ng-click="userBet('Black')">BLACK
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Black'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="11" ng-mouseenter="betPlacing('odd')" ng-mouseleave="betPlacing()" ng-click="userBet('Odd')">ODD
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['Odd'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="12" ng-mouseenter="betPlacing('high')" ng-mouseleave="betPlacing()" ng-click="userBet('High Bet')">19 to 36
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['High Bet'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="empty"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="div-inline width12 history scroll">
        History
        <ul class="">
          <li class="div-inline" ng-repeat="result in lastResults">
            <div class="num red">
              <span>{{result.results}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 
    <div class="main_abs_div">
      <div class="absolute-button">
        <div class="div-inline upper-button">
          <span>Money</span>
          <p>$1000</p>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Tier</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Orphelins</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Neighbors</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Finals Bet</span>
        </div>
        <div ng-click="spinNow" class="div-inline upper-button pdbutton">Spin</div>
      </div>
    </div> -->
  </div>
</div>
