<div class="roulette">
  <div class="roulette-cell">
    <div class="div-inline upper-button">
      <span>Money</span>
      <p>{{totalMoney}} &#8377;</p>
    </div>
    <div class="div-inline upper-button">
      <span>Current Bet</span>
      <p>{{amount}} &#8377;</p>
    </div>
    <div class="div-inline upper-button">
      <div>Min Bet: {{minBet}} &#8377;</div>
      <hr>
      <div>Max Bet: {{maxBet}} &#8377;</div>
    </div>
    <div class="div-inline upper-button" ng-click="Undo()">
      Undo
    </div>
    <div class="div-inline upper-button" ng-click="removeAll()">
      Remove All
    </div>

    <div class="width100">
      <div class="div-inline width6 history">
        <ul class="coin">
          <li ng-repeat="coin in coinArray" ng-click="selectCoin(coin)">
            <img src="img/roulette/{{coin.name}}.png" ng-class="{'MyClass':coin.selected==true}">
          </li>
        </ul>
      </div>
      <div class="div-inline width80">
        <table>
          <tbody>
            <tr class="num">
              <td rowspan="4" ng-click="userBet('0')">
                <div class="zero">
                  <span>0</span>
                  <div class="absolute-coin" ng-repeat="coin in masterArray['0'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
            </tr>
            <tr class="nums" ng-repeat="b1 in b track by $index" ng-init="outerIndex= $index">
              <td ng-repeat="a1 in a track by $index" ng-class="{'red':getBlack(getIndex($index,outerIndex))==false,'black' :getBlack(getIndex($index,outerIndex))==true}">
                <div class="num circle" ng-click="userBet(getIndex($index,outerIndex))">
                  <span>{{getIndex($index,outerIndex)}}</span>
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottombet" ng-if="outerIndex<=1" ng-click="userBet(getBottomSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getBottomSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-right':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="leftbet" ng-if="$index==0" ng-click="userBet(getLeftSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLeftSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="rightbet" ng-if="$index<11" ng-click="userBet(getRightSplitBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getRightSplitBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottomrightbet" ng-if="outerIndex<=1 && $index<11" ng-click="userBet(getCornerBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getCornerBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="bottomleftbet" ng-if="outerIndex<=1 && $index<11" ng-click="userBet(getCornerBetLeftIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getCornerBetLeftIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="street-bet bottombet" ng-if="outerIndex==2" ng-click="userBet(getStreetBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getStreetBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="line-bet bottomrightbet" ng-if="outerIndex==2 && 0 < $index <12" ng-click="userBet(getLineBetIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLineBetIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
                <div class="line-bet bottomleftbet" ng-if="outerIndex==2 && $index == 0" ng-click="userBet(getLineBetLeftIndex($index,outerIndex))">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[getLineBetLeftIndex($index,outerIndex)].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="sector" data-sector="1" ng-click="userBet((outerIndex+1)+'21')">
                <span class="vt">2 to 1</span>
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[(outerIndex+1)+'21'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="empty"></td>
              <td colspan="4" class="sector" data-sector="4" ng-click="userBet('112')">1st 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['112'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="4" class="sector" data-sector="5" ng-click="userBet('212')">2nd 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['212'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="4" class="sector" data-sector="6" ng-click="userBet('312')">3rd 12
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray[312].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="empty"></td>
            </tr>
            <tr>
              <td class="empty"></td>
              <td colspan="2" class="sector" data-sector="7" ng-click="userBet('118')">1 to 18
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['118'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="8" ng-click="userBet('even')">EVEN
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['even'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector red-color" data-sector="9" ng-click="userBet('red')">RED
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['red'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" id="sectorBlack" class="sector black-color" data-sector="10" ng-click="userBet('black')">BLACK
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['black'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="11" ng-click="userBet('odd')">ODD
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['odd'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td colspan="2" class="sector" data-sector="12" ng-click="userBet('1936')">19 to 36
                <div class="absolute-coin-big">
                  <div class="absolute-coin" ng-repeat="coin in masterArray['1936'].displayArray track by $index">
                    <img src="{{coin.img}}" ng-style="{'margin-top':'{{10-8*$index}}px'}">
                  </div>
                </div>
              </td>
              <td class="empty"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="div-inline width12 history scroll">
        History
        <ul class="">
          <li class="div-inline" ng-repeat="result in lastResults">
            <div class="num red">
              <span>{{result.results}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 
    <div class="main_abs_div">
      <div class="absolute-button">
        <div class="div-inline upper-button">
          <span>Money</span>
          <p>$1000</p>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Tier</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Orphelins</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Neighbors</span>
        </div>
        <div class="div-inline upper-button pdbutton">
          <span>Finals Bet</span>
        </div>
        <div ng-click="spinNow" class="div-inline upper-button pdbutton">Spin</div>
      </div>
    </div> -->
  </div>
</div>
