<div class="plyr  p{{pos}} {{mainplayer}}" ng-class="{'sit_here':sitHere && !player,'no_player':!sitHere && player==0 }">



  <div class="winner-display">
    <div class="winner-player " ng-class="{'winner_main':player.winRank==1}">
      <!-- 
      <img src="img/table/glow.png" class="anime1">
      <img src="img/table/glow.png" class="anime2">
      <img src="img/table/glow.png" class="anime3">
      <img src="img/table/glow.png" class="anime4"> -->
    </div>
  </div>
  <!-- <div class="p9 {{mainplayer}} bootAnimate" ng-if="true">
    <img src="img/coin.png" class="coin">{{betamount}}
  </div> -->
  <div class="pie_loader" ng-if="player.isTurn && !player.winRank">
    <div class="animation_wrapper">
      <div class="pie spinner"></div>
      <div class="pie filler"></div>
      <div class="mask"></div>
    </div>
  </div>

  <div ng-class="{dealer:player.isDealer}">
    <div class="wnr" ng-class="{'winner_anime':player.winRank==1}">

      <img src="img/table/glow.png" class="anime1">
      <img src="img/table/glow.png" class="anime2">
      <img src="img/table/glow.png" class="anime3">
      <img src="img/table/glow.png" class="anime4">
    </div>
    <div class="status" ng-if="player.isBlind && !player.isFold && player.isActive && remainingPlayerCount>1">
      BLIND </div>
    <div class="status" ng-if="player.isFold && !player.isActive  && remainingPlayerCount>1">
      PACK</div>
    <div class="status" ng-if="!player.isBlind && !player.isFold && player.isActive  && remainingPlayerCount>1">
      SEEN </div>
    <div class="status" ng-if="!player.isActive || remainingPlayerCount==1 && !player.isFold">
      Waiting... </div>
    <div class="plyr_pic">
      <div class="pic">
        <div class="profile_pic_overlay">
          <img ng-src="{{player.image | serverimage}}"> </div>
      </div>
      <!-- <div class="plyr_card" ng-if="!player.isFold && player.cards.length<4">
        <div class=" custom-row">
          <card card='DONE'> </card>
          <card card='DONE'> </card>
          <card card='DONE'> </card>
        </div>
      </div>
      <div class="plyr_card plyr_card_4card" ng-if="!player.isFold && player.cards.length==4">
        <div class=" custom-row">
          <card card='DONE'> </card>
          <card card='DONE'> </card>
          <card card='DONE'> </card>
          <card card='DONE'> </card>
        </div>
      </div> -->
    </div>
    <div class="amt">
      <img src="img/coin.png">{{player.balance - player.totalAmount}}</div>
    <div class="plyr_name" ng-click="openPlayerDetails($event,player._id)">
      <span>{{player.name}}</span>
    </div>
  </div>
</div>
