<div class="plyr p{{pos}}" ng-class="{'no_player':player==0 && !sitHere,'sit_here':sitHere && !player,'winner': player.playerNo==winPlayerNo, 'card_shuffle_animation': player && player.cards.length>0  && startAnimation}">
 
  <div class="pie_loader" ng-if="player.isTurn">
<!-- 
    <svg width="100%" height="100%" viewbox="0 0 250 250">
      <path id="border" transform="translate(125, 125)" />
      <path id="loader" transform="translate(125, 125) scale(.84)" />
    </svg> -->
    <div class="animation_wrapper">
        <div class="pie spinner"></div>
        <div class="pie filler"></div>
        <div class="mask"></div>
      </div>
  </div>


  <div ng-class="{dealer:player.isDealer}">
    <div class="status" ng-if="player.isBlind && !player.isFold">
      BLIND </div>
    <div class="status" ng-if="player.isFold">
      PACK</div>
    <div class="status" ng-if="!player.isBlind && !player.isFold">
      SEEN </div>
    <div class="plyr_pic">
      <div class="pic">
        <div class="profile_pic_overlay">
          <img ng-src="{{player.image | serverimage}}"> </div>
      </div>
      <div class="plyr_card" ng-if="!player.isFold && (player.cards.length > 0)">
        <div class=" custom-row">
          <card card='DONE'></card>
          <card card='DONE'></card>
          <card card='DONE'></card>
        </div>
      </div>
      <!-- <div class="plyr_card" ng-if="!player.isFold && (players[8].cards.length > 0)">
        <div class=" custom-row">
          <card card='{{player.cards[0]}}'> </card>
          <card card='{{player.cards[1]}}'> </card>
          <card card='{{player.cards[2]}}'> </card>
        </div>
      </div> -->
    </div>
    <div class="amt">
      <img src="img/coin.png">{{player.totalAmount}}</div>
    <div class="plyr_name" ng-click="openPlayerDetails($event,player._id)">
      <span>{{player.name}}</span>
    </div>
  </div>

</div>
