<div class=" table-info border-gradient" ng-if="showTableinfo">
  <table class="bg-style">
    <tr>
      <th colspan="2" class="heading">Table Info</th>
    </tr>
    <tr>
      <td>
        Boot Amount
      </td>
      <td>
        <!-- {{bootAmt}} -->
        {{blindAmt}}
      </td>
    </tr>
    <tr>
      <td>
        Chal Limit
      </td>
      <td>
        {{blindAmt}}/{{chalAmt}}
      </td>
    </tr>
    <tr>
      <td>
        Table show
      </td>
      <td>
        {{tableShow}}
      </td>
    </tr>

    <tr ng-if="gameType">
      <td>
        Game Type
      </td>
      <td>
        {{gameType}}
      </td>
    </tr>
    <!-- <tr>
      <td>
        Max Blind
      </td>
      <td>
        {{maxBlind}}
      </td>
    </tr> -->
  </table>
</div>
