<ion-modal-view class="custom-model statement-model">

  <ion-content>
    <div class="close" ng-click="closeACStatement()">
      <img src="img/close.png">
    </div>
    <div class="heading">Account Statement</div>
    <div class="top_field">
      Date within
      <select>
        <option selected>1 Day</option>
        <option>2 Day</option>
        <option>3 Day</option>
      </select>
      of
      <input type="text" ng-model="month">
    </div>

    <div class="statement_content ">
      <table>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>P&L</th>
          <th>credit Limit</th>
          <th>balance</th>
        </tr>

        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
          <td>$1280</td>
          <td>3BTC</td>
        </tr>

      </table>


    </div>

  </ion-content>
</ion-modal-view>
