<ion-modal-view class="custom-model statement-model">

  <ion-content>
    <div class="close" ng-click="closeACStatement()">
      <img src="img/close.png">
    </div>
    <div class="heading">Account Statement</div>
    <div class="top_field">
      <!-- Date within
      <select>
        <option selected>1 Day</option>
        <option>2 Day</option>
        <option>3 Day</option>
      </select>
      of
      <input type="text" ng-model="month"> -->
    </div>

    <div class="statement_content ">
      <table>
        <tr>
          <th>Date</th>
          <th>W &amp; L</th>
          <th>balance</th>
        </tr>
        <tr ng-repeat="result in results" infinite-scroll="loadMore()" infinite-scroll-disabled="loadingDisable">
          <td>
            {{result.createdAt | date:'d-MMM-yyyy h:mm a'}}
            <br/> teenpatti
          </td>
          <td>{{result.type}}</td>
          <td>{{result.amount}}</td>
        </tr>


      </table>


    </div>

  </ion-content>
</ion-modal-view>
