<ion-modal-view class="custom-model statement-model change_password-model form-update">

  <ion-content>
    <div class="close" ng-click="createPrivateTable()">
      <img src="img/close.png">
    </div>
    <div class="heading">Create Private Table</div>
    <div class="field">
      <form name="createTable">
        <div class="rel">
          <div class="login_button">
            <input type="text" name="tablename" ng-model="data.tableName" placeholder="Table Name*" required>
          </div>
          <span class="valid" ng-show="createTable.tablename.$touched && createTable.tablename.$invalid">* Table Name is required.</span>
        </div>

        <div class="rel">
          <div class="login_button">
            <input type="number" name="bootAmount" ng-model="data.bootAmount" placeholder="Boot Amount*" required>
          </div>
          <span class="valid" ng-show="createTable.bootAmount.$touched && createTable.bootAmount.$invalid">* Boot Amount is required.</span>
        </div>
        <div class="rel">
          <div class="login_button">
            <input type="number" name="chalLimit" ng-model="data.chalLimit" placeholder="Chal Limit*" required>
          </div>
          <span class="valid" ng-show="createTable.chalLimit.$touched && createTable.chalLimit.$invalid">* Chal Limit is required.</span>
        </div>
        <div class="rel">
          <div class="login_button">
            <input type="number" name="tableShow" ng-model="data.tableShow" placeholder="Table show*" required>
          </div>
          <span class="valid" ng-show="createTable.tableShow.$touched && createTable.tableShow.$invalid">*Table show is required.</span>
        </div>
        <div class="rel">
          <div class="login_button">
            <input type="number" name="maxBlind" ng-model="data.maxBlind" placeholder="Max Blind*" required>
          </div>
          <span class="valid" ng-show="createTable.maxBlind.$touched && createTable.maxBlind.$invalid">*Max Blind is required.</span>
        </div>

        <button type="submit" ng-click="createPrivateTable(data)" promise-btn="createPrivateTablePromise">Create</button>
      </form>
    </div>



  </ion-content>
</ion-modal-view>
