<ion-modal-view class="custom-model statement-model table_info_modal small-model private-table">

        <ion-content>
          <!-- <div class="close" ng-click="closeTableInfoModal()">
            <img src="img/close.png">
          </div> -->
          <div class="heading"> Create Praivate Table </div>
          <table>
                <tr>
                        <td>
                          Table Name
                        </td>
                        <td>
                     <input type="text" >
                        </td>
                      </tr>
            <tr>
              <td>
                Boot Amount
              </td>
              <td>
                    <input type="text" >
              </td>
            </tr>
            <tr>
              <td>
                Chal Limit
              </td>
              <!--<td>
               {{blindAmt}}-{{chalAmt}}/{{2*blindAmt}}-{{2*chalAmt}}
              </td>-->
      
              <td>
                    <input type="text" >
              </td>
            </tr>
            <tr>
              <td>
                Table show
              </td>
              <td>
                    <input type="text" >
              </td>
            </tr>
            <tr>
              <td>
                Max Blind
              </td>
              <td>
                    <input type="text" >
              </td>
            </tr>
          </table>
          <div class="ok">
            <button ng-click=closeTableInfoModal();tableInfoOk()>Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
      