<ion-modal-view class="custom-model statement-model price_range_modal">
  <ion-content>
    <div class="close" ng-click="closePriceRangeModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">table</div>
    <form name="filterTable">
      <div class="top_field filter">
        Filter with
        <ui-select ng-model="data.type" theme="bootstrap">
          <ui-select-match placeholder="Type">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in filterType | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <ui-select ng-model="data.name" theme="bootstrap">
          <ui-select-match placeholder="Enter Table Name">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in filterType | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <input type="text" ng-model="data.blindAmt" placeholder="Blind Amt">
        <input type="text" ng-model="data.ChalAmt" placeholder="Chaal Amt">
        <button class="custom_button" type='submit' ng-click="filterTables(data)" promise-btn="filterTablePromise"> Search </button>
      </div>
    </form>
    <div class="statement_content" ng-if="tableData">
      <table>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Stakes</th>
          <th>Max Players</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="data in tableData">
          <td>{{data.name}} </td>
          <td>
            <span ng-if="data.type"> {{data.type}}</span>
            <span ng-if="!data.type">Public</span>
          </td>
          <td>{{data.blindAmt}} - {{data.chalAmt}} </td>
          <td>{{data.maximumNoOfPlayers}}</td>
          <td>
            <button class="custom_button" ng-click="goToTable(data)" ng-if="!data.type">PLAY</button>
            <button class="custom_button" ng-click="goToPrivateTableLogIn(data)" ng-if="data.type">Log In</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="loader" ng-if="!tableData">
      Loading ..
    </div>
  </ion-content>
</ion-modal-view>
