<ion-modal-view class="custom-model statement-model price_range_modal">

  <ion-content>
    <div class="heading">
      <span class="border-gradient"> Table </span>
    </div>


    <!-- <div class="type" ui-sref="table">
      <div class="left_img">
        <img src="img/lobby/price_modal/left_img.png" class="img-responsive">
      </div>
      <div class="right_img">
        <img src="img/lobby/price_modal/right_img.png" class="img-responsive">
        <div class="price">
          <img src="img/coin.svg" class="coin">500 -
          <img src="img/coin.svg" class="coin">1000
        </div>
      </div>
    </div> -->


    <ion-scroll direction="x" class="table_type no-click-effect" ng-click="$event.stopPropagation()">
      <div class="type" ng-repeat="t in tableData track by $index" ng-click="goToTable(t)">
        <span> {{t.blindAmt}} - {{t.chalAmt}} </span>
      </div>
    </ion-scroll>


  </ion-content>
</ion-modal-view>
