<ion-modal-view class="custom-model statement-model small-model player-details ">

  <ion-content>
    <div class="outer">
      <div class="close" ng-click="closePlayerDetails()">
        <img src="img/close.png">
      </div>
      <div class="profile">

        <div class="profile_pic">
          <div class="profile_pic_overlay">
            <img ng-src="{{pImage1 | serverimage}}" class="img-responsive"> </div>

        </div>
        <div class="profile_info">
          <div class="name">{{pName}}</div>
          <div class="badges">{{pUserType}}</div>
          <div class="amt">
            <img src="img/lobby/yellow_coin.png" class="coin">{{pCredit}}
          </div>
        </div>
        <!--<div class="player_id">
          Player id : 123456789
        </div>-->
      </div>

      <hr class="divide">
      <div class="profile_data">
        <div class="row">
          <div class="col p_heading">
            Table stats
          </div>
          <!--<div class="col p_heading">
            player rank
          </div>-->
        </div>
        <div class="row">
          <div class="col table_stats">
            <div class="chips_won">
              chips won:
              <br/>
              <img src="img/coin.png" class="coin">8450541
            </div>
            <div class="hands_won">
              hands won:
              <br/> 55/70
            </div>

          </div>
          <!--<div class="col player_rank">
            <div class="last_week">
              hands won last week:
              <br/> 234
            </div>
          </div>-->
        </div>

      </div>
      <dic class="active_days">
        active : 6 Day 12 hrs
      </dic>


    </div>
  </ion-content>
</ion-modal-view>
