<ion-modal-view class="custom-model statement-model table_info_modal table-private-info small-model">

  <ion-content>
    <!-- <div class="close" ng-click="closeTableInfoModal()">
            <img src="img/close.png">
          </div> -->
    <div class="heading"> Praivate Table Info</div>
    <div class="private-table-mar">
    <table>
      <thead>
        <tr>
          <th>Table Name</th>
          <th>Password</th>
        </tr>
      </thead>
    </table>
    <div class="content-overflow">
      <table>
        <tbody>
          <tr>
            <td>
              Table Name
            </td>
            <td>
              private
            </td>
          </tr>
          <tr>
            <td>
              Table Name
            </td>
            <td>
              private
            </td>
          </tr>
          <tr>
            <td>
              Table Name
            </td>
            <td>
              private
            </td>
          </tr>
          <tr>
            <td>
              Table Name
            </td>
            <td>
              private
            </td>
          </tr>
          <tr>
              <td>
                Table Name
              </td>
              <td>
                private
              </td>
            </tr>
            <tr>
                <td>
                  Table Name
                </td>
                <td>
                  private
                </td>
              </tr>
        </tbody>
      </table>
      </div>
 </div>
 <div class="text-center footer-content">
      Praivate Table Info
    </div>
  </ion-content>
</ion-modal-view>
