<ion-modal-view class="custom-model statement-model price_range_modal">
  <ion-content>
    <div class="close" ng-click="closeMyPrivateModal();ModalInfo.hide()">
      <img src="img/close.png">
    </div>
    <div class="heading">My Private table</div>
    <div class="statement_content" ng-if="privateTableDatas">
      <table>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Stakes</th>
          <!-- <th>Max Players</th> -->
          <th>Password</th>
        </tr>
        <tr ng-repeat="data in privateTableDatas">
          <td>{{data.name}} </td>
          <td>
            <span ng-if="data.type"> {{data.type}}</span>
            <span ng-if="!data.type"> normal</span>
          </td>
          <td>{{data.blindAmt}} - {{data.chalAmt}} </td>
          <td>{{data.password}}</td>
        </tr>
      </table>
    </div>
    <div class="loader" ng-if="!privateTableDatas">
      Loading ..
    </div>
  </ion-content>
</ion-modal-view>
