<ion-modal-view class="custom-model statement-model table_info_modal small-model">

  <ion-content>
    <!-- <div class="close" ng-click="closeTableInfoModal()">
            <img src="img/close.png">
          </div> -->
    <div class="heading"> Praivate Table Info</div>
    <table>
          <thead>
               <tr>
                <th>Table Name</th>
                <th>Password</th>
              </tr>
         </thead>
      <tbody>
      <tr>
        <td>
          Table Name
        </td>
        <td>
          private
        </td>
      </tr>
      <tr>
          <td>
            Table Name
          </td>
          <td>
            private
          </td>
        </tr>
      
        
      <tr>
        <td>
          Table Name
        </td>
        <!--<td>
               {{blindAmt}}-{{chalAmt}}/{{2*blindAmt}}-{{2*chalAmt}}
              </td>-->

        <td>
          private
        </td>
      </tr>
      <tr>
        <td>
          Table Name
        </td>
        <td>
          private
        </td>
      </tr>
     
    </tbody>
    </table>
    <!-- <div class="ok">
      <button ng-click=closeTableInfoModal();tableInfoOk()>Create</button>
    </div> -->
    <div class="text-center footer-content">
            Praivate Table Info
    </div>
  </ion-content>
</ion-modal-view>
