<ion-modal-view class="custom-model statement-model rules_modal">

  <ion-content>
    <div class="close" ng-click="closeRulesModal()">
      <img src="img/close.png">
    </div>
    <div class="heading"> King’s Teen Patti Rules
    </div>
    <div class="top_field">
      <!-- Date within
        <select>
          <option selected>1 Day</option>
          <option>2 Day</option>
          <option>3 Day</option>
        </select>
        of
        <input type="text" ng-model="month"> -->
    </div>

    <div class="statement_content ">
      <p>
        Teen Patti is a popular Indian gambling card game just like poker. It is normally played in a group of 6 to 9 persons and
        uses a 52-card pack without jokers. Each player is dealt three cards face down. Before the cards are dealt, the boot
        amount is decided and collected from each player. The boot amount is the minimum stake amount put in the pot, which
        is the money kept in the centre of the table. As the game progresses the pot money grows and is won by the winner
        of that hand. Winner is the player who remains in the game till the completion of the hand and has the best hand
        or the highest hand based on the cards ranking shown below.
      </p>

      <p>
        Ranking of the cards from high to low is:
        <ol>
          <li>1. Trail or Set (three of same rank),</li>
          <li>2. Pure sequence,,</li>
          <li>3. Sequence (or run),</li>
          <li>4. Color,</li>
          <li>5. Pair (two cards of same rank), and</li>
          <li>6. High Card.</li>
        </ol>

      </p>

      <p>
        Playing Kings Teen Patti. Each player contributes the boot money and gets three cards face down. Now it is the turn of the
        player next to the dealer in clockwise direction. The player has option to place a bet without seeing the cards (blind)
        or see the card. When the player sees his card, he/she can play chaal or may have other options depending upon the
        progress of the game. A player who places a blind bet is referred to as the blind player. A player who places his
        bet after seeing the cards is referred to as the seen player.
      </p>
      <p>
        Blind Player. To be blind player, you must not see your cards. You have options to play Pack, Blind and Show if available.
        To play Blind put the bet amount in the pot. The Blind bet amount is equal to the current stake amount or twice the
        current stake amount. The current stake amount, in case of the first player, is the boot amount. Thus if the first
        player is a blind player, the player must bet amount equal to the boot amount or twice the boot amount.
      </p>

      <p>
        Stake Amount. The bet placed by a blind player becomes the stake amount for the next player while half of the bet placed
        by a seen player becomes the stake amount for the next player. In case of the next blind players, the bet amount
        can be equal to the stake amount or twice the stake amount. A blind player can ask for a Show only when there is
        one opponent remaining in the game. This is a blind show. After asking for show, the cards of both the players become
        visible and the winner gets the pot.
      </p>
      <p>
        Seen Player. A seen player can play Chaal, Pack or may have other options. The other options that may be available to the
        seen player are Show and Side Show. Once you have seen your cards, to remain in the game, you must play chaal unless
        you select any other available option.
        <br/>
        <b> (a) </b> Chal. To remain in the game, a seen player must play Chaal or Side Show if available. For chaal the player
        must put the bet amount in the bot. The bet amount for a seen player is equal to twice or four times the current
        stake amount. If the previous player is a blind player, the stake amount for next player is amount bet by the player.
        If the previous player is a seen player, the stake amount for next player is half the amount bet by the player.
        <br/>
        <b> (b) </b> Side Show. A seen player can ask for a Side Show. Sideshow means that you wish to compare your cards with
        the cards of the previous player. You can do this only if all the players are also seen players and there are more
        than one player are still in the game. For Sideshow you put amount equal to twice the current stake in the pot. Your
        request for the Side Show is conveyed to the previous player. The previous player has option to accept or deny your
        Side Show request. If your Side Show request is accepted and the previous player has better cards than you, you must
        pack. If your cards are better than the previous player, the previous player must pack. After one of you have packed,
        the turn passes on to the next player. Automatically Cards gets compared by the system without showing the cards
        to the players. If your Side Show request is denied, both of you remain in the game and the turn passes on to the
        next player. Incase the Cards are same of both the players, the player who has given the sideshow will get pack.
      </p>


      <p>
        Kings Teen Patti Variations:
        <br/>
        <b>a) </b> Joker. A Joker card is shown on the table. All the cards of the rank of the Joker regardless of the suit
        can be used as as a substitute for any other card. A player with highest rank cards is a winner. For example, 4 is
        <img src="img/cards/heart.svg" class="card_icon">a joker. Then 4
        <img src="img/cards/heart.svg" class="card_icon">, 4
        <img src="img/cards/diamond.svg" class="card_icon">, 4
        <img src="img/cards/spade.svg" class="card_icon">and 4
        <img src="img/cards/club.svg" class="card_icon"> are Jokers. Your cards are Ace-3-4. Then you can treat 4 as 2 and your cards become A-2-3.
        <br/>
        <b>b)</b> Muflis. It is just like the normal game except a person with lowest rank cards is a winner. For example, you
        have K-2-3 while other person has K-K-9, then you are the winner.

        <br/>
        <b>c)</b>Two-Cards TeenPatti. It is just like the normal game except a person gets only Two cards. For example, you
        have A-A while other person has K-K, then you are the winner. If the person has the 8-10 than it is not considered
        as the sequence as 8-9 or 9-10.
        <br/>
        <b>d)</b>Four-Cards TeenPatti. It is the game where person gets the Four Cards. In Four card Teen Patti best of three
        cards are considered from the four cards and person with the highest rank cards will be the Winner.

      </p>

      <p>
        Stake Table. When you play Teen Patti for the first time, you play on a limited stake table. On the first limited stake table
        that you play, the boot amount is 100, you can play unlimited blinds, the maximum Chaal that you can play is 400
        and the Pot limit is 4000. When the Pot limit is reached, all players still in the game are forced to show their
        cards and the winner gets the Pot.
      </p>
      <p>

        Private Table. Player can create its own Private table with in the Application. Player has to put the Blind Amount, Chaal
        Amount and the Table Limit amount, Once the Player has entered the values he can create the Private Table. After
        creating Private Table Player will get the Password for the Table which he can share with his friends and can enjoy
        the Teen Patti.

      </p>
      <p>
        <b>Legality. Teen Patti is a gambling card game. In many countries it is illegal to play Teen Patti with real money
          at stake. In Teen Patti by Kings Casino you play only with virtual money.</b>

      </p>

    </div>

  </ion-content>
</ion-modal-view>
