<ion-modal-view class="custom-model statement-model table_info_modal small-model search-table">
  <ion-content>
    <table>
      <tbody>
        <tr>
          <td>
            Table
          </td>
          <td>
            <div>
              <ui-select ng-model="selected.value">
                <ui-select-match>
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                  <span ng-bind="item.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            password
          </td>
          <td>
            123
          </td>
        </tr>
      </tbody>
    </table>


  </ion-content>
</ion-modal-view>
