<ion-modal-view class="custom-model statement-model table_info_modal small-model search-table">

        <ion-content>
          <!-- <div class="close" ng-click="closeTableInfoModal()">
                  <img src="img/close.png">
                </div> -->
      
          <table>
            <tbody>
            <tr>
              <td>
                Table 
              </td>
              <td>
                <select>
                    <option>select</option>
                    <option>table1</option>
                    <option>table2</option>
                </select>
              </td>
            </tr>
        <tr>
              <td>
              password
              </td>
              <!--<td>
                     {{blindAmt}}-{{chalAmt}}/{{2*blindAmt}}-{{2*chalAmt}}
                    </td>-->
      
              <td>
             123
              </td>
            </tr>
           
            
          </tbody>
          </table>
          <div class="ok">
            <button ng-click=closeTableInfoModal();tableInfoOk()>ok</button>
          </div>
       
        </ion-content>
      </ion-modal-view>
      