<ion-modal-view class="custom-model statement-model table_info_modal">

  <ion-content>
    <div class="close" ng-click="closeTableInfoModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">Table Info</div>
    <table>
      <tr>
        <td>
          Boot Amount
        </td>
        <td>
          200
        </td>
      </tr>
      <tr>
        <td>
          Chal Limit
        </td>
        <td>
          1220
        </td>
      </tr>
      <tr>
        <td>
          Max Blind
        </td>
        <td>
          04
        </td>
      </tr>
    </table>
    <div class="ok">
      <button ng-click=closeTableInfoModal()>OK</button>
    </div>
  </ion-content>
</ion-modal-view>
