<ion-modal-view class="custom-model statement-model price_range_modal">
  <ion-content>
    <div class="close" ng-click="closePriceRangeModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">table</div>
    <form name="filterTable">
      <div class="top_field filter">
        Filter with
        <select ng-model="filterData.type" ng-options="x for x in filterType" placeholder="Blind Amt">
          <option value="" disabled hidden selected>Type</option>
        </select>
        <input type="text" ng-model="filterData.blindAmt" placeholder="Blind Amt">
        <input type="text" ng-model="filterData.chalAmt" placeholder="Chaal Amt">
        <!-- <ui-select ng-model="tablesData.selected.name" theme="bootstrap" class="custom-filter">
          <ui-select-match placeholder="Enter Table Name">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in tablesData | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select> -->
        <input type="text" ng-model="filterData.name" placeholder="Table Name">
        <div class="row">
          <div class="col">
            <button class="custom_button  btn_search" type='submit' ng-click="filterTables(filterData);resetpage();" promise-btn="filterTablePromise">
              Search </button>
          </div>
          <div class="col">
            <button class="custom_button  btn_search" type='submit' ng-click="resetFilter();resetpage();" promise-btn="filterTablePromise">
              Reset </button>
          </div>
        </div>
      </div>
    </form>

    <!-- //Table Data Filter -->
    <div class="statement_content" ng-if="tablesDataFilter">
      <table>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Stakes</th>
          <th>Max Players</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="dataFilter in tablesDataFilter" infinite-scroll="loadMoreFilterTable()" infinite-scroll-distance="0" infinite-scroll-disabled="loadingDisable"
          infinite-scroll-continer='".statement_content"'>
          <td>{{dataFilter.name}} </td>
          <td>
            <span ng-if="dataFilter.type"> {{dataFilter.type}}</span>
            <span ng-if="!dataFilter.type">Public</span>
          </td>
          <td>{{dataFilter.blindAmt}} - {{dataFilter.chalAmt}} </td>
          <td>{{dataFilter.noOfPlayers}} / {{dataFilter.maximumNoOfPlayers}}</td>
          <td>
            <button class="custom_button" ng-click="goToTable(dataFilter)" ng-if="dataFilter.type=='public'">PLAY</button>
            <button class="custom_button" ng-click="goToPrivateTableLogIn(dataFilter)" ng-if="dataFilter.type=='private'">Log In</button>
          </td>
        </tr>
      </table>
    </div>

    <!-- //loader -->
    <div class="loader" ng-if="!tablesDataFilter">
      Loading ..
    </div>

    <!-- <ion-infinite-scroll  on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
  </ion-content>
</ion-modal-view>
