<ion-modal-view class="custom-model statement-model price_range_modal">
  <ion-content scroll="false ">
    <div class="close" ng-click="closePriceRangeModal()">
      <img src="img/close.png">
    </div>
    <div class="heading">table</div>
    <form name="filterTable">
      <div class="top_field filter">
        Filter with
        <select ng-model="data.type" ng-options="x for x in type" placeholder="Blind Amt">
          <option value="" disabled hidden selected>Type</option>
        </select>
        <input type="text" ng-model="data.blindAmt" placeholder="Blind Amt">
        <input type="text" ng-model="data.chalAmt" placeholder="Chaal Amt">
        <ui-select ng-model="tablesData.selected.name" theme="bootstrap">
          <ui-select-match placeholder="Enter Table Name">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in tablesData | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <button class="custom_button" type='submit' ng-click="filterTables(data,tablesData.selected.name)" promise-btn="filterTablePromise">
          Search </button>
      </div>
    </form>
    <div class="statement_content" ng-if="tablesData">
      <table>
        <tr>
          <th>Name</th>
          <th>type</th>
          <th>Stakes</th>
          <th>Max Players</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="data in tablesData" infinite-scroll="loadMoreTable()" infinite-scroll-distance="1" infinite-scroll-disabled="loadingDisable">
          <td>{{data.name}} </td>
          <td>
            <span ng-if="data.type"> {{data.type}}</span>
            <span ng-if="!data.type">Public</span>
          </td>
          <td>{{data.blindAmt}} - {{data.chalAmt}} </td>
          <td>{{data.maximumNoOfPlayers}}</td>
          <td>
            <button class="custom_button" ng-click="goToTable(data)" ng-if="data.type=='public'">PLAY</button>
            <button class="custom_button" ng-click="goToPrivateTableLogIn(data)" ng-if="data.type=='private'">Log In</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="loader" ng-if="!tablesData">
      Loading ..
    </div>
  </ion-content>
</ion-modal-view>
