<ion-modal-view class="custom-model statement-model table_info_modal small-model">

  <ion-content>
    <!-- <div class="close" ng-click="closeTableInfoModal()">
      <img src="img/close.png">
    </div> -->

    <div class="heading">Table Info</div>
    <div ng-if="gotTableInfo">
      <table>
        <tr>
          <td>
            Boot Amount
          </td>
          <td>
            <!-- {{bootAmt}} -->
            {{blindAmt}}
          </td>
        </tr>
        <tr>
          <td>
            Chal Limit
          </td>
          <!--<td>
         {{blindAmt}}-{{chalAmt}}/{{2*blindAmt}}-{{2*chalAmt}}
        </td>-->

          <td>
            {{blindAmt}}/{{chalAmt}}
          </td>
        </tr>
        <tr>
          <td>
            Table show
          </td>
          <td>
            {{tableShow}}
          </td>
        </tr>
        <!-- <tr>
        <td>
          Max Blind
        </td>
        <td>
          {{maxBlind}}
        </td>
      </tr> -->
      </table>
      <div class="ok">
        <button ng-click=closeTableInfoModal();tableInfoOk()>OK</button>
      </div>
    </div>
    <div class="loader" ng-if="!gotTableInfo">
      Loading ..
    </div>
    <ion-infinite-scroll icon="ion-loading-c" ng-if="getcheck()" on-infinite="loadMore();">
    </ion-infinite-scroll>


  </ion-content>
</ion-modal-view>
