<ion-modal-view class="custom-model statement-model" >

  <ion-content >
      <div class="close" ng-click="closeTransferStatement()" ><img src="img/close.png"></div>
    <div class="heading">Transfer statement</div>
    <div class="top_field">
      Date within
      <select>
        <option selected>1 Day</option>
        <option>2 Day</option>
        <option>3 Day</option>
      </select>
      of
      <input type="text" ng-model="month">
    </div>

    <div class="statement_content ">
      <table>
        <tr>
          <th>Date</th>
          <th>description</th>
          <th>amount</th>
        </tr>

        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
        
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
        
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
      
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
         
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
         
        </tr>
        <tr>
          <td>
            20 jan 2018
            <br/> teenpatti
          </td>
          <td>7.30 pm</td>
          <td>$2950</td>
        
        </tr>
      </table>


    </div>

  </ion-content>
</ion-modal-view>
